<div class="row page_margin">
  <% @videos.each do |video| %>
    <div class="col-md-4">
        <div class='vid_sample'>
          <div class='vid_title'><%= video.title %></div>
          <div class='vid_image'>
            <% if video.img_high %>
              <%= image_tag video.img_high, class: 'img-responsive img-sample' %>
            <% else %>
              <%= image_tag video.img_default, class: 'img-responsive img-sample' %>
            <% end %>
          </div>
          <div class='vid_desc'><%= video.description %></div>
          <%= form_tag :videos, {action: 'update'} do %>
            <div>
              <%= hidden_field_tag :etag, video.etag %>
              <%= hidden_field_tag :video_id, video.video_id %>
              <%= hidden_field_tag :img_high, video.img_high%>
              <%= hidden_field_tag :img_default, video.img_default %>
              <%= hidden_field_tag :title, video.title %>
              <%= hidden_field_tag :published_at, video.published_at %>
              <%= hidden_field_tag :description, video.description %>
              <%= submit_tag 'Favorite' %>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
</div>

