<div class="row page_margin">
  <% @videos.each do |video| %>
    <div class="col-md-4">
        <div class='vid_sample'>
          <div class='vid_title'><%= video.title %></div>
          <div class='vid_image'>
            <% if video.img_high %>
              <%= image_tag video.img_high, class: 'img-responsive img-sample' %>
            <% else %>
              <%= image_tag video.img_default, class: 'img-responsive img-sample' %>
            <% end %>
          </div>
          <div class='vid_desc'><%= video.description %></div>
          <div>
            <%= link_to 'Favorite', favorite_path(video.add_vid), method: :patch %>
          </div>
        </div>
    </div>
  <% end %>
</div>

