<button type="button" class='bmf-modalButton' data-toggle='modal' data-target='#modalPlaylist'>Play All</button>

<div class='container'>

  <div class='row'>
    <% @playlist.each_with_index do |video, index| %>
      <div class='col-sm-4'>


        <div class='card'>
          <%= image_tag video.img_high, class: 'img-fluid' %>
          <div class='card-body'>
            <div>
              <h5 class='card-title text-center'><%= video.title %></h5>
            </div>
            <p class='card-text text-center'><%= video.description %></p>
            <!-- Trigger the modal with a button -->
            <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#myModal<%= index + 1 %>"></span>
            <%= link_to "", playlist_path(video.video_id), method: :delete, type: "delete", class: 'glyphicon glyphicon-remove-circle' %>


            <!-- Modal -->
            <div id="myModal<%= index + 1 %>"  data-id='<%= video.video_id %>'class="modal fade videoModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content bmd-modalContent" >
                  <div class="close-button">
                    <button id='single' type="button" class="close fancybox-close" data-dismiss="modal" aria-label='Close' ><span aria-hidden="true">&times;</span></button>
                  </div>
                  <div class="modal-body modal-header">
                    <div class='embed-responsive embed-responsive-16by9'>
                      <iframe id='my-video' class='embed-responsive-item' src="https://youtube.com/embed/<%= video.video_id %>?rel=0&enablejsapi=1" allowFullScreen='true' frameborder="0"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class='delete-list'>
  <button type="delete-list" class='bmf-modalButton'><%= link_to 'Delete Playlist', playlist_path(params[:id]), method: 'delete', data: {confirm: 'Are you sure you want to delete this entire list?!'} %></button>
</div>

<div id="modalPlaylist"  data-id='playlist'class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content bmd-modalContent" >
      <div class="modal-body">
        <div class="close-button">
          <button type="button" class="close listClose" data-dismiss="modal" aria-label='Close' ><span aria-hidden="true">&times;</span></button>
        </div>
        <div class='embed-responsive embed-responsive-16by9'>
          <iframe class='embed-responsive-item' src="https://youtube.com/embed/<%= first_playlist_video %>?rel=0&playlist=<%= rest_of_vids %>&enablejsapi=1" allowFullScreen='true' frameborder="0"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
