<!DOCTYPE html>
<html>
  <head>
    <title>Metube</title>
    <%= csrf_meta_tags %>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootcards/1.0.0/js/bootcards.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style='background-color: black;'>

    <nav class='navbar navbar-inverse'>
      <div  class='container-fluid'>
        <div class='navbar-header'>
          <a class='navbar-brand' href="#">MeTube</a>
        </div>
        <% if current_user %>
          <ul class='nav navbar-nav'>
            <li class='dropdown'>
              <a class='dropdown-toggle' data-toggle='dropdown' href="/">Playlists<span class='caret'></span></a>
              <ul class='dropdown-menu'>
                <% current_user.playlist_names.each do |name| %>
                  <li><%= link_to name, playlist_path(name) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to 'Favorites', favorites_path(current_user) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag :videos, method: :get, class: "search-box" do %>
                <div class="form-group search-field">
                  <%= text_field_tag :q, nil, placeholder: "Search", class: "form-control" %>
                  <%= button_tag(type: 'submit',id: 'submit', class: "icon glyphicon glypicon-search") do %>
                    <i class='icon glyphicon glyphicon-search'></i>
                  <% end %>
                </div>
              <% end %>
            </li>

            <li><%= image_tag current_user.image, id: 'userImage', class: 'img-circle img-responsive' %></a></li>
            <li><%= link_to 'Logout', logout_path, method: 'delete', class: "glyphicon glyphicon-log-out" %></li>

          <% else %>
            <li>
              <button class='loginBtn loginBtn--google'>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
              </button>
            </li>
          </ul>
      </div>
    <% end %>
    </nav>
    <%= yield %>
    <script>
      $(document).ready(function () {
        $('.dropdown-toggle').dropdown();
      });
    </script>

  </body>
</html>
