<!DOCTYPE html>
<html class='landing-bg'>
  <head>
    <title>Metube</title>
    <%= csrf_meta_tags %>

    <%# <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> %>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> %>
    <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <%# <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> %>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script> %>
    <%# <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class='navbar navbar-inverse bg-inverse'>
      <div  class='container'>
        <div class='navbar-header'>
          <% if current_user %>
            <%= link_to 'MeTube', user_path(current_user.id), class: 'navbar-brand' %>
          <% else %>
            <a class='navbar-brand' href="#">MeTube</a>
          <% end %>
        </div>
        <% if current_user %>
          <ul class='nav navbar-nav'>
            <li class='dropdown'>
              <a class='dropdown-toggle' data-toggle='dropdown' href="/">Playlists<span class='caret'></span></a>
              <ul class='dropdown-menu'>
                <% current_user.playlist_names.each do |name| %>
                  <li><%= link_to name, playlist_path(name) %></li>
                <% end %>
              </ul>
            </li>
            <li><%= link_to 'Favorites', favorites_path(current_user) %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= form_tag :videos, method: :get, class: "search-box" do %>
                <div class="form-group search-field">
                  <%= text_field_tag :q, nil, placeholder: "Search", class: "form-control" %>
                  <%= button_tag(type: 'submit',id: 'submit', class: "icon glyphicon glypicon-search") do %>
                    <i class='icon glyphicon glyphicon-search'></i>
                  <% end %>
                </div>
              <% end %>
            </li>

            <li><%= image_tag current_user.image, id: 'userImage', class: 'img-circle img-responsive' %></a></li>
            <li><%= link_to 'Logout', logout_path, method: 'delete', class: "glyphicon glyphicon-log-out" %></li>

          <% else %>
            <li>
              <button class='loginBtn loginBtn--google'>
                <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
              </button>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
    <script>
$(document).ready(function () {
  $('.dropdown-toggle').dropdown();
});
    </script>

  </body>
</html>
